.button {
    width: 300px;
    height: 100px;
    -unity-font-definition: url('project://database/Assets/Imports/Fonts/Silkscreen/Silkscreen-Regular%20SDF.asset?fileID=11400000&guid=f489d15ea28296148834ae21c9450f2a&type=2#Silkscreen-Regular SDF');
}

.main_text {
    font-size: 100px;
    color: rgb(255, 255, 255);
    -unity-font-definition: url('project://database/Assets/Imports/Fonts/joystix.asset?fileID=11400000&guid=00b9eda421c0ac54f85d14abf91a5568&type=2#joystix');
}

.plain_text {
    font-size: 22px;
    color: rgb(255, 255, 255);
    -unity-font-definition: url('project://database/Assets/Imports/Fonts/joystix.asset?fileID=11400000&guid=00b9eda421c0ac54f85d14abf91a5568&type=2#joystix');
}
